<footer class="footer">
    <div id="corner-overlay"></div>
    <div class="container">
        <section class="contact">
            <h2>Contact</h2>
            <a title="{{ site.email }}" href="mailto:{{ site.email }}">{{ site.email }}</a><br>

            <a title="{{ site.resume }}" href="pdF.js/web/viewer.html?file=/{{ site.resume }}" id="resume-download-link"
                target="_blank"><i class="fas fa-file-download"></i> Resume</a>

        </section>
        <section class="follow">
            <h2>Follow</h2>
            <ul class="social-icons">
                <li><a title="Linkedin" href="{{ site.linkedin }}" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                <li><a title="Twitter" href="{{ site.twitter }}" target="_blank"><i class="fab fa-twitter"></i></a></li>
                <li><a title="Github" href="{{ site.github }}" target="_blank"><i class="fab fa-github"></i></a></li>
                <li><a title="Instagram" href="{{ site.instagram }}" target="_blank"><i class="fab fa-instagram"></i></a></li>
            </ul>
        </section>
    </div>
</footer>
