<nav class="navbar navbar-expand-lg navbar-dark">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse tabcontrol tabs button-group filter-button-group" id="navbarNav">
        <ul class="navbar-nav justify-content-center col-sm-12">
            {% for category in site.categories %}
            <a class="button tab" data-filter=".{{ category | first }}">
                <li class="nav-item"> {{ category | first }} </li>
            </a>
            {% endfor %}
            <a class="button active tab" data-filter="*">
                <li class="nav-item"> All </li>
            </a>
        </ul>
    </div>

</nav>
