<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{ site.author }} / {{ page.project.title }}</title>
    <meta name="author" content="{{ site.author }}">
    <meta name="description" content="{{ page.content | strip_html | strip_newlines }}">
    <meta name="keywords" content="{{ page.meta.keywords }}">
    {% include head.html %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.6/dist/jquery.fancybox.min.css" />

</head>

<style>
    .github-corner {
        position: fixed;
        right: 0;
        top: 0;
        visibility: visible;
        z-index: 300;
    }

</style>

<body>

    <section class="project">
        {% if page.github_url %}
        <a href="{{ page.github_url }}" class="github-corner" target="_blank" aria-label="View source on GitHub"><svg
                width="80" height="80" viewBox="0 0 250 250"
                style="fill:#151513; color:#fff; position: absolute; top: 0; border: 0; right: 0;" aria-hidden="true">
                <path d="M0,0 L115,115 L130,115 L142,142 L250,250 L250,0 Z"></path>
                <path
                    d="M128.3,109.0 C113.8,99.7 119.0,89.6 119.0,89.6 C122.0,82.7 120.5,78.6 120.5,78.6 C119.2,72.0 123.4,76.3 123.4,76.3 C127.3,80.9 125.5,87.3 125.5,87.3 C122.9,97.6 130.6,101.9 134.4,103.2"
                    fill="currentColor" style="transform-origin: 130px 106px;" class="octo-arm"></path>
                <path
                    d="M115.0,115.0 C114.9,115.1 118.7,116.5 119.8,115.4 L133.7,101.6 C136.9,99.2 139.9,98.4 142.2,98.6 C133.8,88.0 127.5,74.4 143.8,58.0 C148.5,53.4 154.0,51.2 159.7,51.0 C160.3,49.4 163.2,43.6 171.4,40.1 C171.4,40.1 176.1,42.5 178.8,56.2 C183.1,58.6 187.2,61.8 190.9,65.4 C194.5,69.0 197.7,73.2 200.1,77.6 C213.8,80.2 216.3,84.9 216.3,84.9 C212.7,93.1 206.9,96.0 205.4,96.6 C205.1,102.4 203.0,107.8 198.3,112.5 C181.9,128.9 168.3,122.5 157.7,114.1 C157.9,116.9 156.7,120.9 152.7,124.9 L141.0,136.5 C139.8,137.7 141.6,141.9 141.8,141.8 Z"
                    fill="currentColor" class="octo-body"></path>
            </svg></a>
        {% endif %}

        {% include header.html %}
        <main class="content">
            <div class="container content-wrapper">
                <article>
                    <span class="h2">Project Title</span>
                    <h1>
                        <a class="next" href="{{ page.project.url }}" target="_blank" title="{{ page.project.title }}"
                            rel="nofollow">
                            <span>{{page.project.title }}</span></a>
                    </h1>

                    {% if page.role %}
                    <span class="h2">Role</span>
                    <p>{{ page.role }}</p>
                    {% endif %}

                    {% if page.agency.title %}
                    <span class="h2">Agency</span>
                    <p><a class="next" title="{{ page.agency.title }}" href="{{ page.agency.url }}" target="_blank"
                            rel="nofollow">
                            <span>{{page.agency.title }}</span></a></p>
                    {% endif %}

                    <div class="project-meta">
                        <span class="h2">Technologies</span>
                        <p>{{ page.project.tech }}</p>
                        <span class="h2">Description</span>
                        {{ page.content }}

                        <span class="h2">Year</span>
                        <p>{{ page.agency.year }}</p>
                    </div>

                </article>
                <aside class="pr-0 pr-md-4">
                    <ul>
                        {% for image in page.images %}
                        <a data-fancybox="gallery" href="{{ image.url | prepend: site.baseurl }}"><img
                                src="{{ image.url | prepend: site.baseurl }}" alt="{{ image.alt }}" /></a>
                        {% endfor %}

                        {% for video in page.videos %}
                        <a data-fancybox="videos" class="video-button position-relative d-inline-block"
                            href="{{ video.url | prepend: site.baseurl }}">

                            <!-- <div class="play-overlay"><i class="fas fa-play-circle fa-4x"></i></div> -->
                            <img class="card-img-top img-fluid" src="{{ video.img | prepend: site.baseurl }}" />
                        </a>
                        {% endfor %}
                    </ul>
                </aside>
            </div>
    </section>
    <section class="project-navigation">
        <div class="container " id="thumb-wrapper">
            {% if page.next.project.title  %}
            <a title="Next {{ page.next.project.title }}" href="{{ page.next.url | prepend: site.baseurl }}"
                class="prev d-flex flex-column ">

                <span class="h2 text-align-start">Previous</span>

                <div id="project-thumb-container">
                    <img src="{{ page.next.project.logo | prepend: site.baseurl }}" alt="{{ post.project.title }}" />
                    <span class="h2">{{ page.next.project.title }}</span>

                </div>
            </a>
            {% endif %}

            {% if page.previous.project.title  %}
            <a title=" Previous {{ page.previous.project.title }}"
                href="{{ page.previous.url | prepend: site.baseurl }}" class="next d-flex flex-column ">

                <span class="h2 text-align-start">Next</span>

                <div id="project-thumb-container">
                    <img class="" src="{{ page.previous.project.logo | prepend: site.baseurl }}"
                        alt="{{ post.project.title }}" />

                    <span class="h2">{{ page.previous.project.title }}</span>

                </div>


            </a>
            {% endif %}




            {% if page.previous and page.previous.categories contains "projects" %}
            <a title="Previous {{ page.previous.project.title }}" href="{{ page.previous.url | prepend: site.baseurl }}"
                class="prev">
                <span class="h2">Previous</span>
                <h2>{{ page.previous.project.title }}</h2>
            </a>
            {% endif %}
            {% if page.next and page.next.categories contains "projects" %}
            <a title="Next {{ page.next.project.title }}" href="{{ page.next.url | prepend: site.baseurl }}"
                class="next">
                <span class="h2">Next</span>
                <h2>{{ page.next.project.title }}</h2>
            </a>
            {% endif %}
        </div>
    </section>
    </main>
    {% include footer.html %}
    <script src="https://unpkg.com/scrollreveal"></script>
    <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.6/dist/jquery.fancybox.min.js"></script>

    <script src="{{ "/assets/scripts/project.js" | prepend: site.baseurl }}"></script>
</body>

</html>
